:root {
    /* Palette Light */
    --color-background: #f9f5f6; /* Nền chính - hồng rất nhạt */
    --color-surface: #f8e8ee; /* Card / navbar */
    --color-secondary: #fdcedf; /* Viền / hover nhẹ */
    --color-primary: #f2bed1; /* Nút / điểm nhấn */

    /* Text */
    --color-text: #3a2e33; /* Chữ chính - tím nâu đậm */
    --color-text-inverse: #ffffff; /* Chữ trên nền primary */
    --color-text-secondary: #7c6a72; /* Chữ phụ */

    /* Status */
    --color-success: #10b981; /* Thành công */
    --color-error: #e11d48; /* Lỗi */
    --color-warning: #f59e0b; /* Cảnh báo */
    --color-info: #3b82f6; /* Thông tin */

    /* Font */
    --font-text: "Google Sans Flex", sans-serif;
    --font-title: "Niramit", sans-serif;
    --font-code: "Google Sans Code", monospace;
    --font-special: "Cherry Bomb One", system-ui;

    /* Material Symbols */
    --icon-fill: 0;
    --icon-wght: 300;
    --icon-grad: 0;
    --icon-opsz: 24;
}

.homepage-nav {
    position: fixed;
    bottom: -72px;
    display: flex;
    width: max-content;
    height: max-content;
    border-radius: 999px;
    background-color: rgb(from var(--color-surface) r g b / 0.66);
    box-shadow: 0 2px 4px rgb(from var(--color-text) r g b / 0.5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    outline: 1px solid rgb(from var(--color-text) r g b / 0.5);
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 801;
}

.homepage-nav .menu {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    align-items: center;
}

.homepage-nav .menu a {
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 999px;
    align-items: center;
    overflow: hidden;
    transition: all 0.33s ease;
}

.homepage-nav .menu a.active {
    padding: 12px 32px;
    background-color: var(--color-secondary);
}

.homepage-nav .menu a .text {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    font-size: 18px;
    align-items: center;
    transition: all 0.33s ease;
}

.homepage-nav .menu a:hover span {
    color: var(--color-primary);
}

.homepage-nav .menu a.active .text {
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary);
}
.homepage-nav .menu a.active .material-symbols-rounded {
    font-size: 26px;
    --icon-opsz: 26;
    --icon-wght: 400;
    color: var(--color-primary);
}

/* Homepage's Sections */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 36px 0;
    transition: all 0.33s ease;
    z-index: 100;
}

.section-title {
    position: relative;
    width: max-content;
    height: max-content;
    padding: 0 0 8px;
    font-family: var(--font-title);
    font-size: 40px;
    font-weight: 600;
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-text);
    text-shadow: 0 2px 4px rgb(from var(--color-text-inverse) r g b / 0.66);
    transition: all 0.33s ease;
    align-self: center;
    cursor: default;
}

.homepage-button {
    position: relative;
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    padding: 10px 26px;
    border-radius: 999px;
    border-color: transparent;
    background-color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
    font-size: 24px;
    align-items: center;
    justify-content: center;
    transition: all 0.33s ease;
    cursor: pointer;
    z-index: 103;
}

.homepage-button:hover {
    background-color: rgb(from var(--color-text-inverse) r g b / 0.66);
    border: 1px solid var(--color-primary);
    transform: translateY(-4px);
}

.homepage-button a {
    width: 100%;
    height: 100%;
}

/* Home */
.home-section {
    width: 100%;
    height: calc(100vh - 72px);
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.home-section .home-banner {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100% - 90px);
    border-radius: 16px;
    z-index: 101;
}

.home-banner img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: bottom;
    transition: all 0.33s ease;
}

.home-banner::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgb(from var(--color-text-inverse) r g b / 0.33);
    transition: all 0.33s ease;
}
body.dark .home-banner::after {
    background-color: rgb(from var(--color-text-inverse) r g b / 0.5);
}

.home-section .home-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    margin: 72px 0 0;
    gap: 32px;
    align-items: center;
    justify-content: center;
    transition: all 0.33s ease;
    z-index: 102;
}

.home-content .home-title {
    position: relative;
    width: max-content;
    height: max-content;
    font-family: var(--font-title);
    font-size: 48px;
    font-weight: 600;
    color: var(--color-text);
    text-shadow: 0 2px 4px rgb(from var(--color-text-inverse) r g b / 0.66);
    transition: all 0.33s ease;
    cursor: default;
}

/* About */
.about-section {
    flex-direction: row;
    width: 100%;
    height: 480px;
    padding: 72px 0;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    transition: all 0.33s ease;
    z-index: 100;
}

.about-section .about-blog {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 32px;
    gap: 36px;
    border-radius: 16px;
    background-color: var(--color-surface);
    align-items: center;
    transition: all 0.33s ease;
    z-index: 101;
}

.about-blog .about-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 460px);
    height: max-content;
    gap: 16px;
    transition: all 0.33s ease;
    cursor: default;
    z-index: 101;
}

.about-content .about-title {
    position: relative;
    width: 100%;
    height: max-content;
    font-family: var(--font-title);
    font-size: 36px;
    font-weight: 500;
    color: var(--color-text);
    transition: all 0.33s ease;
}

.about-content .about-description {
    position: relative;
    width: 100%;
    height: max-content;
    font-family: var(--font-text);
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: var(--color-text);
    transition: all 0.33s ease;
}

.about-blog .about-blog-image {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    transition: all 0.33s ease;
    z-index: 101;
}

.about-section .about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 100%;
    gap: 16px;
    transition: all 0.33s ease;
    cursor: default;
    z-index: 101;
}

.about-me .about-me-image {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    transition: all 0.33s ease;
    z-index: 101;
}

.about-blog .homepage-button {
    margin: 2px 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--color-primary);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
    font-size: 18px;
}

.about-blog .homepage-button:hover {
    background-color: rgb(from var(--color-text-inverse) r g b / 0.66);
    border: 1px solid var(--color-primary);
    transform: translateY(-2px);
}

/* Featured Collection */
.collections-section {
    gap: 32px;
    align-items: center;
}

/* Media Query */
/* Tablet, Small Desktop */
@media (min-width: 768px) and (max-width: 1399.98px) {
    .about-section {
        gap: 0;
    }
    .about-section .about-me {
        width: 0px;
    }

    .homepage-nav .menu a:not(.active) {
        gap: 0;
        padding: 12px 20px;
    }

    .homepage-nav .menu a:not(.active) .text {
        font-size: 0;
    }

    .homepage-nav .menu a.active {
        padding: 12px 24px;
    }

    .homepage-nav .menu a.active .text {
        font-size: 18px;
        font-weight: 500;
        color: var(--color-primary);
    }
    .homepage-nav .menu a.active .material-symbols-rounded {
        font-size: 24px;
        --icon-opsz: 24;
        --icon-wght: 400;
        color: var(--color-primary);
    }
}

/* Phone */
@media (max-width: 767.98px) {
    .homepage-nav .menu {
        gap: 4px;
    }
    .homepage-nav .menu a:not(.active) {
        gap: 0;
        padding: 12px;
    }

    .homepage-nav .menu a:not(.active) .text {
        font-size: 0;
    }

    .homepage-nav .menu a.active {
        gap: 0;
        padding: 12px;
    }

    .homepage-nav .menu a.active .text {
        font-size: 0;
        font-weight: 500;
        color: var(--color-primary);
    }
    .homepage-nav .menu a.active .material-symbols-rounded {
        font-size: 24px;
        --icon-opsz: 24;
        --icon-wght: 400;
        color: var(--color-primary);
    }
}
