:root {
    /* Palette Light */
    --color-background: #fffcf6;
    --color-surface: #fdf2e0;
    --color-secondary: #ffa2a2;
    --color-primary: #fc8080;

    /* Text */
    --color-text: #3a2e3e;
    --color-text-inverse: #fdfdfd;
    --color-text-secondary: #7c6a72;

    /* Status */
    --color-success: #10b981;
    --color-error: #e11d48;
    --color-warning: #f59e0b;
    --color-info: #3b82f6;

    /* Font */
    --font-text: "Google Sans Flex", sans-serif;
    --font-title: "Niramit", sans-serif;
    --font-code: "Google Sans Code", monospace;
    --font-special: "Cherry Bomb One", system-ui;

    /* Material Symbols */
    --icon-fill: 0;
    --icon-wght: 300;
    --icon-grad: 0;
    --icon-opsz: 24;

    --rainbow-red: #ffb3b3;
    --rainbow-orange: #ffd1a9;
    --rainbow-yellow: #fff2b3;
    --rainbow-green: #c8f2c2;
    --rainbow-blue: #bbdcff;
    --rainbow-indigo: #cfc8ff;
    --rainbow-violet: #e6c6ff;
}


